body{
    background-color: #191313;
}
.heading{
    text-align: center;
    color: #322626;
    font-size: 30px;
    text-decoration: underline #322626;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #322626;
    width: 300px;
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 2px #000000;
}
.button{
    padding: 20px;
    margin: 10px 5px 10px;
    border-radius: 8px;
    border: 1px solid black;
    width: 50px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.button:hover,
.button:active{
    background-color: #7a7a7a;
    color:#fff;
}
input{
   padding: 12px 40px 20px;
   border-radius: 9px;
   border: 1px solid black;  
}




























/* .container{
    font-size: 20px;
    padding: 10px;
}
input{
    padding: 15px;
    border-radius: 25px;
    border: hidden;
    border: 2px solid black;
}
.container button{
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}
.contain button{
    font-size: 20px;
    margin: 5px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding: 10px;
}
button{
    font-size: 18px;
    background-color: darkcyan;
    border: hidden;
    color: red;
    border-radius: 12px;
}
.main{
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
 border: 2px solid black;
} */ 
